src/main/mule/GlobalWeather.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd">
    
    
    <http:listener-config name="GlobalWeather-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="GlobalWeather-config" raml="GlobalWeather.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="90205e1d-d8a7-464b-8f59-34dbdf19e54e" >
		<wsc:connection wsdlLocation="wsdl/global-weather.wsdl" service="GlobalWeather" port="GlobalWeatherSoap" address="http://localhost:8080/GlobalWeather" />
	</wsc:config>

		<xml-module:config name="XML_Config" doc:name="XML Config" doc:id="225469fb-a174-4ff2-9e37-ad3939804aa5" />
	<flow name="GlobalWeather-main">
        <http:listener config-ref="GlobalWeather-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="GlobalWeather-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="GlobalWeather-console">
        <http:listener config-ref="GlobalWeather-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="GlobalWeather-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND" enableNotifications="true" logException="true">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="get:\global-weather\cities-by-country:GlobalWeather-config">
		<ee:transform doc:name="Transform Message" doc:id="d32fa1c1-febd-4082-b8aa-adfcde86aa26" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetCitiesByCountry: {
		ns0#CountryName: attributes.queryParams.countryName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetCitiesByCountry" doc:name="Consume" doc:id="08cdd0c5-d6c1-4108-bae0-87218fc31f9f" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="5b309f81-0dcb-430e-8f78-b32cec350cc3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://www.webserviceX.NET
---

payload.body.ns0#GetCitiesByCountryResponse
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="2bd99048-6eb6-4779-8a7f-a20156b0e620" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload[0] as String
replace /&lt;/ with '<' replace /&gt;/ with '>' replace /&quot;/ with '"' replace /&apos;/ with "'" replace /&amp;/ with '&' replace "\n" with '']]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload as String]" doc:name="Webservice Response" doc:id="4afd2533-075a-4e5f-a716-3c478dd2c0b6" variableName="payloadResponse"/>
		<scripting:execute engine="groovy" doc:name="Xml to Json" doc:id="32cdbd3f-8166-425a-8026-f08dceb6916d" >
			<scripting:code >def parsed = new XmlSlurper().parseText(vars.payloadResponse);
def map = [(parsed[0].name): parsed.'**'.
   findAll{it.name() == 'Table'}.
   collect{ row -&gt;
       row.collectEntries{[Country: row.Country.text(), City:row.City.text()]}
   }]
   
   payload = new groovy.json.JsonBuilder(map).toPrettyString()

return payload;</scripting:code>
		</scripting:execute>
		<logger level="INFO" doc:name="Logger" doc:id="2a99ddbb-29c5-474e-94dc-8af665c4c47b" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="61c52ccb-659f-4dd4-a5c5-95fe2ed14cde" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="dea1ef35-3f5e-4fed-88c2-5d98196e8a45" message="Error Occured : #[payload]"/>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="get:\global-weather\weather:GlobalWeather-config">
		<ee:transform doc:name="Transform Message" doc:id="723bbd67-7689-45cd-9a78-2c9d0560db43" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://www.webserviceX.NET
---
{
	ns0#GetWeather: {
		ns0#CityName: attributes.queryParams.cityName,
		ns0#CountryName: attributes.queryParams.countryName
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="GetWeather" doc:name="Consume" doc:id="990c275e-0171-4c99-aa85-551e38e7f4f0" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="18a66e22-bd81-442f-ad5b-4b612c64c837" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://www.webserviceX.NET
---
payload.body.ns0#GetWeatherResponse]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="6e77261e-2453-4182-b570-b96614760644" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

payload[0] as String
replace /&lt;/ with '<' replace /&gt;/ with '>' replace /&quot;/ with '"' replace /&apos;/ with "'" replace /&amp;/ with '&' replace "\n" with '']]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload as String]" doc:name="weather" doc:id="1a6a58ad-f2b1-4673-a5d8-ff374b840af2" variableName="weatherResponse"/>
		<scripting:execute doc:name="Groovy xml to Json" doc:id="95099fee-49a2-4dd0-9f89-ac9b52712fe8" engine="groovy">
			<scripting:code >import java.util.regex.* 


def resultString = &quot;&quot;;     
Pattern regex = Pattern.compile(&quot;(?&lt;!(&lt;!\\[CDATA\\[))|((.*)\\w+\\W)&quot;);    
Matcher regexMatcher = regex.matcher(vars.weatherResponse.toString().replaceAll(&quot;\\s&quot;,&quot;&quot;));     
while (regexMatcher.find()) {         resultString += regexMatcher.group();     }

def parsed = new XmlParser().parseText(resultString.toString());
def map = new TreeMap()
parsed.each {
 map.put(it.name(), it.text())
}


payload =  new groovy.json.JsonBuilder(map).toPrettyString();

return payload;
</scripting:code>
		</scripting:execute>
		<logger level="INFO" doc:name="Logger" doc:id="7576387f-2a01-44f6-b882-907c03ac71cf" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="7ce1adff-4718-42e6-a5ec-d15274a519e9" type="ANY">
				<logger level="INFO" doc:name="Logger" doc:id="009c5dc3-8ffb-49d9-8447-c8312854fcfc" message="Error Occured : #[payload]"/>
			</on-error-propagate>
		</error-handler>
		
    </flow>
</mule>
